---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v2/listings/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"data\": [\n        {\n            \"id\": 1, \n            \"name\":
        \"Bitcoin\", \n            \"symbol\": \"BTC\", \n            \"website_slug\":
        \"bitcoin\"\n        }, \n        {\n            \"id\": 2, \n            \"name\":
        \"Litecoin\", \n            \"symbol\": \"LTC\", \n            \"website_slug\":
        \"litecoin\"\n        }, \n        {\n            \"id\": 3, \n            \"name\":
        \"Namecoin\", \n            \"symbol\": \"NMC\", \n            \"website_slug\":
        \"namecoin\"\n        }, \n        {\n            \"id\": 4, \n            \"name\":
        \"Terracoin\", \n            \"symb[...]
